@font-face {
  font-family: "Suisse Int'l";
  src: url("https://s3-ap-southeast-2.amazonaws.com/assets.codewheel.com.au/SuisseIntl.woff");
  font-weight: 400;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 50%;
}

body {
  font-size: 2.4rem;
  line-height: 2.9rem;
  font-family: "Suisse Int'l", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  color: #7F8C8D;
  background: #F5F6F6;
  margin: 0;
}

a, button, input, textarea, select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
  text-decoration: none;
  border: none;
}

button:focus {
  outline: 0;
}

select {
  appearance: none;
}

p {
  margin: 0;
  margin-bottom: 2.9rem;
}

h1, h2, h3, h4, h5 {
  margin: 0;
  font-size: inherit;
  font-weight: inherit;
}

ul {
  padding: 0;
}

li {
  list-style-type: none;
}

a {
  color: #34495F;
  border-bottom: 1px solid #7F8C8D;
}

.header {
  overflow: hidden;
  background: white;
}

.header__link {
  float: left;
  padding: 5rem;
  border-bottom: none;
  width: 25%;
  max-width: 50rem;
}

.header__link__logo {
  float: left;
  width: 6.5rem;
  margin-top: -0.35rem;
  margin-right: 2.5rem;
  animation: rotate 12s infinite linear;
}

.header__link__name {
  color: #34495F;
}

.header__link__description {
  color: #7F8C8D;
}

.main {
  overflow: hidden;
}

.main__aside {
  color: #34495F;
  width: 25%;
  max-width: 50rem;
  float: left;
  padding: 5rem;
}

.main__content {
  width: 50%;
  max-width: 100rem;
  float: left;
  padding: 5rem;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 640px) {
  body {
    font-size: 1.8rem;
    line-height: 2.2rem;
  }
  .header__link__logo {
    float: left;
    width: 4.875rem;
    margin-top: -0.2625rem;
    margin-right: 1.875rem;
  }
  .main__content,
  .main__aside,
  .header__link {
    width: 100%;
  }
  .header__link,
  .main {
    padding: 2rem 2.5rem;
  }
  .main__content,
  .main__aside {
    padding: 0;
  }
}

@media (min-width: 641px) and (max-width: 1280px) {
  body {
    font-size: 2rem;
    line-height: 2.4rem;
  }
  p {
    margin-bottom: 2.4rem;
  }
  .header__link__logo {
    float: left;
    width: 5.075rem;
    margin-top: -0.2625rem;
    margin-right: 1.875rem;
  }
  .header__link,
  .main__content,
  .main__aside {
    padding: 3rem 3.5rem;
  }
}
