.main__note__code__line {
  padding: 0 2rem;
  background: white;
}

.main__note__code__line:first-child {
  padding-top: 1rem;
}

.main__note__code__line:last-child {
  padding-bottom: 1rem;
}

.indent:before {
  content: "••";
  color: transparent;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 2.4rem;
  line-height: 2.9rem;
  font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  color: #7F8C8D;
  background: #F5F6F6;
  margin: 0;
}

a, button, input, textarea, select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
  text-decoration: none;
  border: none;
}

button:focus {
  outline: 0;
}

select {
  appearance: none;
}

p {
  margin: 0;
  margin-bottom: 2.9rem;
}

h1, h2, h3, h4, h5 {
  margin: 0;
  font-size: inherit;
  font-weight: inherit;
}

ul {
  padding: 0;
}

li {
  list-style-type: none;
}

a {
  color: #34495F;
  border-bottom: 1px solid #7F8C8D;
}

strong {
  color: #34495F;
  font-weight: normal;
}

img {
  width: 100%;
}

pre, code {
  font-family: monospace;
}

.header {
  overflow: hidden;
  background: white;
}

.header__link {
  float: left;
  padding: 5rem;
  border-bottom: none;
  max-width: 50rem;
}

.header__link.is-active {
}

.header__link:first-child {
  width: 30%;
  min-width: 30rem;
}

.header__link__logo {
  float: left;
  width: 6.5rem;
  margin-top: -0.35rem;
  margin-right: 2.5rem;
  animation: rotate 12s infinite linear;
}

.header__link__name {
  color: #34495F;
}

.header__link__description {
  color: #7F8C8D;
}

.main {
  overflow: hidden;
}

.main__content,
.main__note__content {
  width: 50%;
  max-width: 100rem;
  float: left;
  padding: 5rem;
}

.main__aside {
  color: #34495F;
}

.main__aside,
.main__note__details,
.main__portfolio-item__details {
  width: 30%;
  min-width: 30rem;
  max-width: 50rem;
  float: left;
  padding: 5rem;
}

.main__portfolio-item,
.main__note {
  overflow: hidden;
  border-bottom: 1px solid white;
}


.main__portfolio-item__details__title,
.main__note__details__title {
  color: #34495F;
}

.main__portfolio-item__details__year,
.main__note__details__title {
  margin-bottom: 2.9rem;
}

.main__aside__title {
  color: #34495F;
}

.main__portfolio-item__images {
  width: 60%;
  max-width: 150rem;
  float: right;
  padding: 5rem;
}

.main__portfolio-item__images__slideshow {
  position: relative;
  width: 100%;
  padding-top: 68.5%;
  overflow: hidden;
}

.main__portfolio-item__images__slideshow__slide {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  transition:
    transform 0.8s cubic-bezier(0.28, 0.64, 0, 1),
    opacity 0.5s;
}

.main__portfolio-item__images__slideshow__prev,
.main__portfolio-item__images__slideshow__next {
  border: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 50%;
}

.main__portfolio-item__images__slideshow__prev {
  cursor: w-resize;
  left: 0;
}

.main__portfolio-item__images__slideshow__next {
  cursor: e-resize;
  right: 0;
}

.footer {
  color: #F5F6F6;
  background: #34495F;
  float: left;
  border-bottom: none;
  width: 100%;
  -webkit-font-smoothing: antialiased;
}

.footer__address {
  width: 30%;
  min-width: 30rem;
  max-width: 50rem;
  float: left;
  padding: 5rem;
}

.footer__details {
  width: 50%;
  max-width: 100rem;
  float: left;
  padding: 5rem;
}

a.footer__link {
  color: white;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 640px) {
  body {
    font-size: 1.8rem;
    line-height: 2.2rem;
  }
  .header__link__logo {
    float: left;
    width: 4.875rem;
    margin-top: -0.2625rem;
    margin-right: 1.875rem;
  }
  .main__portfolio-item__images {
    width: 100%;
    padding: 0;
    margin-bottom: 1.875rem;
    clear: both;
  }
  .main__portfolio-item,
  .main__note {
    padding-bottom: 1.875rem;
    margin-bottom: 1.875rem;
  }
  .main__content,
  .main__aside,
  .main__note__content,
  .main__portfolio-item__details,
  .header__link,
  .footer__address,
  .footer__details,
  .main__note__details {
    min-width: 0;
    width: 100%;
  }
  .header__link,
  .main {
    padding: 2rem 2.5rem;
  }
  .main__content,
  .main__aside,
  .main__note__content,
  .main__note__details,
  .main__portfolio-item__details {
    padding: 0;
  }
  .footer__address,
  .footer__details {
    padding: 2rem 2.5rem;
  }
}
