@charset 'utf-8';

$columns: 12;
$spacing: 1.2rem;
$exponent: 1.67;
$breakpoint-sm: '(max-width: 52em)' !default;
$breakpoint-lg: '(min-width: 100em)' !default;

$breakpoints: (
  sm: $breakpoint-sm,
  lg: $breakpoint-lg
);

@import 'defaults';
@import 'colors';
@import 'flex';
@import 'layout';
@import 'background';
@import 'spacing';
@import 'type';
@import 'grid';
@import 'buttons';
@import 'animations';
@import 'cursors';
// @import 'debug';
