<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <title>Codewheel – Product Design in Melbourne, Australia</title>
    <meta property="og:title" content="Codewheel – Product Design in Melbourne, Australia" />
    <link rel="stylesheet" href="/assets/styles/app.css" />
    <link rel="shortcut icon" href="/favicon.png" />
  </head>
  <body class="f1 bg-purple">
    <div class="bg-white">
      <div class="col-12 lg-col-9 clearfix sm-block sm-py-1">
        <a class="no-underline col col-4 sm-col-12 sm-py-2 py-4 px-4" href="/">
          <div class="mr-2 col rotate" style="width: 6.5rem; height: 6.5rem;">
            {% include svg/codewheel-logo.svg %}
          </div>
          <div class="col">
            <span class="txt-purple block">
              Codewheel
            </spam>
            <span class="txt-gray block">
              Sam Margalit
            </span>
          </div>
        </a>
        <div class="col-8 col">
          <a class="no-underline col col-4 sm-col-12 sm-py-2 py-4 px-4" href="/">
            <span class="txt-purple block">
              Portfolio
            </spam>
            <span class="txt-gray block">
              Recent Work
            </span>
          </a>
          <a class="no-underline col col-4 sm-col-12 sm-py-2 py-4 px-4" href="/courses">
            <span class="txt-purple block">
              Courses
            </spam>
            <span class="txt-gray block">
              Information &amp; Dates
            </span>
          </a>
          <a class="no-underline col col-4 sm-col-12 sm-py-2 py-4 px-4" href="/notes">
            <span class="txt-purple block">
              Notes
            </spam>
            <span class="txt-gray block">
              Experiments etc.
            </span>
          </a>
        </div>
      </div>
    </div>
    <div class="bg-off-white lg-pr-col-3">
      {{ content }}
    </div>
    <div class="bg-purple lg-pr-col-3 clearfix txt-white sm-py-4">
      <div class="col col-4 sm-col-12 sm-py-2 py-4 px-4">
        Codewheel<br/>
        19–21 Johnston St<br/>
        Collingwood, VIC<br/>
        Australia 3066
      </div>
      <div class="col col-6 sm-col-12 sm-py-2 py-4 px-4">
        <p class="mb-2">
          I tweet the occasional bad joke on <a class="txt-white" href="http://twitter.com/sammargalit" class="footer__link">Twitter</a>. I’m best reached by email at <a href="mailto:sam@margalit.com.au" class="txt-white">sam@margalit.com.au</a>.
        </p>
        <p class="mb-2">
          The source code for this website is annotated and freely available over on the <a class="txt-white" href="http://github.com/codewheel">Codewheel GitHub.
        </p>
      </div>
    </div>
    <script type="text/javascript" src="/assets/scripts/dist/app.js"></script>
    <script src="//localhost:35729/livereload.js"></script>
  </body>
</html>
