---
layout: default
---
{% for project in page.projects %}
  {% if project.slides.size > 1 %}
    {% assign slideshow = true %}
  {% else %}
    {% assign slideshow = false %}
  {% endif %}
  <div class="clearfix py-4 sm-py-0">
    <div class="col-8 sm-col-12 col col-right px-4 sm-px-0">
      <div class="relative rectangle overflow-hidden"{% if slideshow %} data-slideshow{% endif %}>
        {% for slide in project.slides %}
          {% if slide.type == "video" %}
            <iframe width="100%" height="100%" class="slide absolute top-0 bottom-0 left-0 right-0" src="{{ slide.url }}" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen {% if slideshow %} style="opacity: 0;" data-slide{% endif %}></iframe>
          {% endif %}
          {% if slide.type == "image" %}
            <img class="slide absolute top-0 left-0 bottom-0 right-0" src="{{ slide.url }}"{% if slideshow %} style="opacity: 0;" data-slide{% endif %}/>
          {% endif %}
        {% endfor %}
        {% if slideshow %}
          <a href="#" class="absolute left-0 cursor-left" style="height: 80%; width: 25%; top: 50%; transform: translateY(-50%);" data-prev></a>
          <a href="#" class="absolute right-0 cursor-right" style="height: 80%; width: 25%; top: 50%; transform: translateY(-50%);" data-next></a>
        {% endif %}
      </div>
    </div>
    <div class="col-4 sm-col-12 pl-4 pr-4 lg-pr-6 sm-py-4 col txt-gray">
      <div class="mb-2">
        <h3 class="txt-purple">{{ project.title }}</h3>
        <h4 class="mb-1">{{ project.role }}</h4>
        <h5 class="mb-1">{{ project.years }}</h5>
      </div>
      <div class="content">
        {{ project.description | markdownify }}
      </div>
      {% if project.link %}
        <a class="mb-1 block txt-purple no-underline" href="{{ project.link }}">{{ project.link }}</a>
      {% endif %}
    </div>
  </div>
{% endfor %}
